<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
    <style>
        body{
             background-color: rgb(141, 200, 252);
        }
    </style>
</head>
<body>
    {{>navbar}}
    <!-- main header start here  -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left heaer  -->
                    <div class="col-md-6 col-12 main_header_right ">
                        
                        <figure>
                            <img src="images/img.png" alt="Akhilesh">
                        </figure>
                    </div>
                    
                    <!-- right header  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>WELCOME TO ABOUT ME</p>
                        <h1>I AM BIGNEERS <Span class="span">ENGINEERS</Span> TODAY RIGHT NOW</h1>
                        <a href="https://www.youtube.com/"> <button>About me</button></a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- footer start here  -->

    <footer>
        <p>I ❤️ You</p>
    </footer>

    
</body>
</html>