<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
   <style>
       body{
            background-color: rgb(141, 200, 252);
       }
   </style>
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left heaer  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center ">
                        
                        <figure>
                            <img src="images/404.jpg.png" alt="Akhilesh" height="350" width="350">
                        </figure>
                    </div>
                    
                    <!-- right header  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>ERROR : 404</p>
                        <h1> <span class="span">This is techanical issue</span> </h1>
                        <h1 class="back">GO Back</h1>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>